<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="ClientDefaults" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <ClientDefaults>
    <add key="NumberOfInstances" value="4"/> 
    <add key="ServiceIp0" value="127.0.0.1"/>
    <add key="ServiceIp1" value="127.0.0.1"/>
    <add key="ServiceIp2" value="127.0.0.1"/>
    
    <add key="ServicePort0" value="11000"/>
    <add key="ServicePort1" value="11001"/>
    <add key="ServicePort2" value="11002"/>
  
  </ClientDefaults>
  <appSettings>
    <add key="XmlFilePath" value="1.xml"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true"></trace>
    <sources>
      <source name ="CustomSource" switchName="BooleanSwitch" >
        <listeners>
          <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
            <remove name ="Default" />
          <add name="remoteTxtListener" type="System.Diagnostics.TextWriterTraceListener" 
          initializeData="TextWriterOutput.log" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="BooleanSwitch" value="Information"  />
    </switches>
  </system.diagnostics>
</configuration>