<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FilePaths" type="UserStorageSystem.Configuration.FilePathsConfigurator, UserStorageSystem" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="ServiceDefaults" type="UserStorageSystem.Configuration.ServiceConfiguration, UserStorageSystem" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="Conns" type="UserStorageSystem.Configuration.ConnectionsConfiguration, UserStorageSystem" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <FilePaths>
    <XMLFilePath>
      <FilePath path="1.xml"/>
    </XMLFilePath>
  </FilePaths>
  <ServiceDefaults>
    <Services>
      <Service type="MasterUserService" domainName="MasterServiceDomain1" repository="MemoryRepository" iterator="CustomFibonacci"/>
      <Service type="SlaveUserService" domainName="SlaveServiceDomain1"/>
      <Service type="SlaveUserService" domainName="SlaveServiceDomain2"/>
      <Service type="SlaveUserService" domainName="SlaveServiceDomain3"/>
    </Services>
  </ServiceDefaults>
  <Conns>
    <ConnectionDefaults>
      <Connection ip="127.0.0.1" port="11000" />
      <Connection ip="127.0.0.1" port="11001" />
      <Connection ip="127.0.0.1" port="11002" />
    </ConnectionDefaults>
  </Conns>
  <appSettings>
    <add key="XmlFilePath" value="1.xml"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true"></trace>
    <sources>
      <source name="CustomSource"  switchName="BooleanSwitch" >
        <listeners>
          <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
          <remove name="Default"  />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="BooleanSwitch" value="Information"  />
    </switches>
  </system.diagnostics>
</configuration>